*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EAEAEA;
    /* font-family: 'Ubuntu', sans-serif; */
}

header{
    background-color: #8dafdb;
    border-color: black;
    padding: 33px;
    display: flex;
    justify-content: space-between;
    
}
.navitems{
    
    display: flex;
    justify-content: space-between;
    font-style: none;
    list-style: none;
    width: 125px;
    margin-left: -61%;
}

.navitems a:hover{
    color: whitesmoke;
    
}
.navitems a{
    color: black;
}

.profil{
        display: flex;
        flex-direction: column;
        margin-top: -17%;
        margin-right: -5%;
       
}
.profil a{
    font-size: 110%;
}

img {
    width: 44%;
}





.navitems2{
    display: flex;
    justify-content: space-between;
    font-style: none;
    list-style: none;
    width: 125px;
    
}
.logout a:hover{
    color: rgb(43, 116, 21);
}

.profil a:hover{
    color: whitesmoke;
}

.navitems2 a{
    color: black;
}



*{
    margin: 0%;
    padding: 0%;
}

.card{
    width: 19%;
    
    
    border: 1px grey solid;
    border-radius: 9px;
    height: fit-content;
    padding-bottom: 4px;
    

}
.card img{
    width: 100%;
}
.card .image{
    height: 55%;
    overflow: hidden;
}
.card p{
    margin: 13px 3px 16px 3px;
}
.card h3{
    text-align: center;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3px;
    
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 300px;
    margin-top: 66px;
}

.url{
    color: yellowgreen;
    margin: 45%;
    
}

h1{
    
    color: blue;
    
    
}
.project{
    margin-left: 36%;
    margin-bottom: 20%;
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 125px;
}
.you{
    color: white;
}

button {
    margin: 38% 86%;
    background-color: #8dafdb;
    border-radius: 69%;
    padding: 3%;
}

summary{
    width: 72%;
}


.add-btn{
    display: flex;
    justify-content: flex-end;
    margin: 48px;
}

.btn{
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;

    padding: .6rem 1.2rem;
}

.btn-add{
    color: white;
    background: rgb(23, 23, 253);
}

.form{
    margin: 40px  auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: stretch;
}


.form label{
    margin-top: 10px;
}