*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EAEAEA;
    
}
th {
    border: 10px solid #121ec2;
    text-align: left;
    padding: 17px;
}
table {
    margin: 6% 2%;
    padding: -1%;
    width: 96%;
}
td{
    border: 3px solid #121ec2;
}
header{
    background-color: #8dafdb;
    border-color: black;
    padding: 33px;
    display: flex;
    justify-content: space-between;
}
.navitems{
    
    display: flex;
    justify-content: space-between;
    font-style: none;
    list-style: none;
    width: 125px;
    margin-left: -61%;
}

.navitems a:hover{
    color: whitesmoke;
    
}
.navitems a{
    color: black;
}

.profil{
        display: flex;
        flex-direction: column;
        margin-top: -17%;
        margin-right: -5%;
       
}
.profil a{
    font-size: 110%;
}

img {
    width: 44%;
}





.navitems2{
    display: flex;
    justify-content: space-between;
    font-style: none;
    list-style: none;
    width: 125px;
    
}
.logout a:hover{
    color: rgb(43, 116, 21);
}

.profil a:hover{
    color: whitesmoke;
}

.navitems2 a{
    color: black;
}

.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    flex-flow: wrap;
}

.card {
    width: 389px;
    height: 318px;
    border: #A2A2A2 2px solid;
    padding: 29px;
    background-color: #ffffff;
    margin-top: 6%;
    border-radius:7% ;
}

section {
    padding: 3%;
}

.url{
    color: yellowgreen;
    margin: 45%;
    
}

h1{
    
    color: blue;
    
    
}
.project{
    margin-left: 36%;
    margin-bottom: 20%;
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 125px;
}
.you{
    color: white;
}

button {
    /* margin: 42% 88%; */
    background-color: #8dafdb;
    border-radius: 69%;
    padding: 3%;
    margin-top: 10px;
    margin-left: 20px;
}

summary{

    margin-top: 30%;
}

input{
    margin-left: 5px;
}
